<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Docs</title>
<link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
<link rel="stylesheet" href="vendors/flag-icon-css/css/flag-icon.min.css">
<link rel="stylesheet" href="vendors/owl-carousel-2/owl.carousel.min.css">
<link rel="stylesheet" href="vendors/owl-carousel-2/owl.theme.default.min.css">
<link rel="stylesheet" href="css/style.css">
<link rel="shortcut icon" href="images/1.png">
<script src="js/sweetalert2.js"></script>
</head>
<body>
<!-- Audio Auto Play -->
<audio id="aud" src="audio/Music.mp3" type="audio" loop=""></audio>
<body id="page-top" onload="getvisitor();">
<div class="container-scroller">
<nav class="sidebar sidebar-offcanvas" id="sidebar">
<div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
</div>
<font face="Coolvetica">
<ul class="nav">
<li class="nav-item profile">
<div class="profile-desc">
<div class="profile-pic">
<div class="count-indicator">
<img class="img-xs rounded-circle" src="images/1.png" alt="ZeeOfc">
<span class="count bg-success"></span>
</div>
<div class="profile-name">
<h5 class="mb-0 font-weight-normal">ZeeOfc</h5>
<span>Online</span>
</div>
</div>
</div>
</li>
<li class="nav-item nav-category">
<span class="nav-link">Docs</span>
</li>
<li class="nav-item menu-items">
<a class="nav-link" href="">
<span class="menu-icon">
<i class="mdi mdi-home"></i>
</span>
<span class="menu-title">Home</span>
</a>
</li>
<li class="nav-item menu-items">
<a class="nav-link" data-toggle="collapse" href="#ui-anime" aria-expanded="false" aria-controls="ui-img-maker">
<span class="menu-icon">
<i class="mdi mdi-folder-multiple-image"></i>
</span>
<span class="menu-title">Anime API</span>
<i class="menu-arrow"></i>
</a>

<!-- Contoh Menambahkan Item Navbar Baru. -->
<div class="collapse" id="ui-anime">
<ul class="nav flex-column sub-menu">
<li class="nav-item">
<a class="nav-link" href="api/anime/anoboy/search?query=&apikey=Apikey">Anoboy Search</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/anime/anoboy/latest?apikey=Apikey">Anoboy Latest</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/anime/anoboy/detail?url=&apikey=Apikey">Anoboy Detail</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/anime/otakudesu/search?query=&apikey=Apikey">Otakudesu Search</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/anime/otakudesu/latest?apikey=Apikey">Otakudesu Latest</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/anime/otakudesu/detail?url=&apikey=Apikey">Otakudesu Detail </a>
</li>
<!-- Batas Navigasi -->
<li class="nav-item">
<a class="nav-link" href="api/anime/komiku/search?query=&apikey=Apikey">Komiku Search</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/anime/komiku/latest?apikey=Apikey">Komiku Latest</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/anime/komiku/detail?url=&apikey=Apikey">Komiku Detail </a>
</li>
<!-- Batas Navigasi -->
<li class="nav-item">
<a class="nav-link" href="api/anime/doujindesu/search?query=&apikey=Apikey">Doujindesu Search</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/anime/doujindesu/latest?apikey=Apikey">Doujindesu Latest</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/anime/doujindesu/detail?url=&apikey=Apikey">Doujindesu Detail </a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/anime/kusonime?query=&apikey=Apikey">Kusonime</a>
</li>
<!-- Batas -->
</ul>
</div>
<!-- Contoh Menambahkan Item Navbar Baru -->
</li>
<li class="nav-item menu-items">
<a class="nav-link" data-toggle="collapse" href="#ui-asupan" aria-expanded="false" aria-controls="ui-img-maker">
<span class="menu-icon">
<i class="mdi mdi-folder-multiple-image"></i>
</span>
<span class="menu-title">Asupan API</span>
<i class="menu-arrow"></i>
</a>
<div class="collapse" id="ui-asupan">
<ul class="nav flex-column sub-menu">
<li class="nav-item">
<a class="nav-link" href="api/asupan/china?apikey=Apikey">China</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/asupan/vietnam?apikey=Apikey">Vietnam</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/asupan/thailand?apikey=Apikey">Thailand </a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/asupan/indonesia?apikey=Apikey">Indonesia</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/asupan/korea?apikey=Apikey">Korea</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/asupan/japan?apikey=Apikey">Japan</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/asupan/malaysia?apikey=Apikey">Malaysia</a>
</li>
</ul>
</div>
</li>
<li class="nav-item menu-items">
<a class="nav-link" data-toggle="collapse" href="#ui-downloader" aria-expanded="false" aria-controls="ui-downloader">
<span class="menu-icon">
<i class="mdi mdi-download"></i>
</span>
<span class="menu-title">Downloader API</span>
<i class="menu-arrow"></i>
</a>
<div class="collapse" id="ui-downloader">
<ul class="nav flex-column sub-menu">
<li class="nav-item">
<a class="nav-link"href="api/download/soundcloud?url=&apikey=Apikey">SoundCloud</a>
</li>
<li class="nav-item">
<a class="nav-link"href="api/download/mediafire?url=&apikey=Apikey">MediaFire</a>
</li>
<li class="nav-item">
<a class="nav-link"href="api/download/zippyshare?url=&apikey=Apikey">Zippyshare</a>
</li>
<li class="nav-item">
<a class="nav-link"href="api/download/tiktok?url=https://vt.tiktok.com/ZS82u2sDu/&apikey=Apikey">Tiktok</a>
</li>
<li class="nav-item">
<a class="nav-link"href="api/download/facebook?url=https://www.facebook.com/reel/814574926298028?fs=e&s=cl&flite=scwspnss&apikey=Apikey">Facebook</a>
</li>
<li class="nav-item">
<a class="nav-link"href="api/download/instagram?apikey=Apikey&url=https://www.instagram.com/reel/Cf1HZNvvGuM/?igshid=YmMyMTA2M2Y=">Instagram</a>
</li>
<li class="nav-item">
<a class="nav-link"href="api/download/pinterest?q=loli&apikey=Apikey">Pinterest</a>
</li>
<li class="nav-item">
<a class="nav-link"href="api/download/ytmp3?url=https://youtu.be/THsiM3I7sLI&apikey=Apikey">YouTube Audio</a>
</li>
<li class="nav-item">
<a class="nav-link"href="api/download/ytmp4?url=https://youtu.be/THsiM3I7sLI&apikey=Apikey">YouTube Video</a>
</li>
</ul>
</div>
</li>
<li class="nav-item menu-items">
<a class="nav-link" data-toggle="collapse" href="#ui-news" aria-expanded="false" aria-controls="ui-random">
<span class="menu-icon">
<i class="mdi mdi-xing"></i>
</span>
<span class="menu-title">News API</span>
<i class="menu-arrow"></i>
</a>
<div class="collapse" id="ui-news">
<ul class="nav flex-column sub-menu">
<li class="nav-item">
<a class="nav-link" href="api/news/cnn?apikey=Apikey">Cnn News</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/news/cnbc?apikey=Apikey">CnBc News</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/news/republika?apikey=Apikey">Republika News</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/news/tempo?apikey=Apikey">Tempo News</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/news/antara?apikey=Apikey">Antara News</a>
<li class="nav-item">
<a class="nav-link" href="api/news/kumparan?apikey=Apikey">Kumparan News</a>
</li>
</ul>
</div>
</li>
<li class="nav-item menu-items">
<a class="nav-link" data-toggle="collapse" href="#ui-photooxy" aria-expanded="false" aria-controls="ui-photooxy">
<span class="menu-icon">
<i class="mdi mdi-folder-image"></i>
</span>
<span class="menu-title">Photooxy API</span>
<i class="menu-arrow"></i>
</a>
<div class="collapse" id="ui-photooxy">
<ul class="nav flex-column sub-menu">
 
<li class="nav-item">
<a class="nav-link" href="api/photooxy/flaming?text=ZeeOfc&apikey=Apikey">Flaming Text</a>
<li class="nav-item">
<a class="nav-link" href="api/photooxy/shadow-sky?text=ZeeOfc&apikey=Apikey">Shadow text </a>
<li class="nav-item">
<a class="nav-link" href="api/photooxy/metallic?apikey=Apikey&text=ZeeOfc">Metallic</a>
<li class="nav-item">
<a class="nav-link" href="api/photooxy/naruto?text=ZeeOfc&apikey=Apikey">Naruto</a>
<li class="nav-item">
<a class="nav-link" href="api/photooxy/pubg-mobile?text=ZeeOfc&text2=Gans&apikey=Apikey">Pubg mobile</a>
</ul>
</div>
</li>
<li class="nav-item menu-items">
<a class="nav-link" data-toggle="collapse" href="#ui-search" aria-expanded="false" aria-controls="ui-fun">
<span class="menu-icon">
<i class="mdi mdi-emoticon-happy"></i>
</span>
<span class="menu-title">Search API</span>
<i class="menu-arrow"></i>
</a>
<div class="collapse" id="ui-search">
<ul class="nav flex-column sub-menu">
<li class="nav-item">
<a class="nav-link" href="/api/search/google-image?query=loli&apikey=Apikey">Google Image</a>
</li>
<li class="nav-item">
<a class="nav-link"href="api/search/film?query=&apikey=Apikey">Film</a>
</li>
<li class="nav-item">
<a class="nav-link"href="api/search/soundcloudsearch?query=&apikey=Apikey">SoundCloud</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/api/search/wallpaper?query=pemandangan Indonesia &apikey=Apikey">Wallpaper</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/api/search/pinterest?query=anime loli&apikey=Apikey">Pinterest</a>
</li>
</ul>
</div>
</li>
<li class="nav-item menu-items">
<a class="nav-link" data-toggle="collapse" href="#ui-nsfw" aria-expanded="false" aria-controls="ui-tools">
<span class="menu-icon">
<i class="mdi mdi-wrench"></i>
</span>
<span class="menu-title">Nsfw API</span>
<i class="menu-arrow"></i>
</a>
<div class="collapse" id="ui-nsfw">
<ul class="nav flex-column sub-menu">
<li class="nav-item">
<a class="nav-link" href="api/nsfw/ahegao?apikey=Apikey">Ahegao</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/nsfw/ass?apikey=Apikey">Ass</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/nsfw/bdsm?apikey=Apikey">Bdsm</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/nsfw/blowjob?apikey=Apikey">Blowjob</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/nsfw/cosplay?apikey=Apikey">Cosplay</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/nsfw/cuckold?&apikey=Apikey">CuckOld</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/nsfw/cum?apikey=Apikey">Cum</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/nsfw/ero?apikey=Apikey">Ero</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/nsfw/fendom?apikey=Apikey">Fendom</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/nsfw/foot?apikey=Apikey">Foot</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/nsfw/gangbang?apikey=Apikey">Gangbang</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/nsfw/glasses?apikey=Apikey">Glasses</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/nsfw/jahy?apikey=Apikey">Jahy</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/nsfw/manga?apikey=Apikey">Manga</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/nsfw/masturbation?apikey=Apikey">Masturbation</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/nsfw/orgy?apikey=Apikey">Orgy</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/nsfw/pussy?apikey=Apikey">Pussy</a>
</li>
<li class="nav-item">
<a class="nav-link" href="api/nsfw/yuri?apikey=Apikey">Yuri</a>
</li>
</ul>
</div>
</li>

<li class="nav-item menu-items">
<a class="nav-link" data-toggle="collapse" href="#ui-islamic" aria-expanded="false" aria-controls="ui-islamic">
<span class="menu-icon">
<i class="mdi mdi-star"></i>
</span>
<span class="menu-title">Islamic API</span>
<i class="menu-arrow"></i>
</a>
<div class="collapse" id="ui-islamic">
<ul class="nav flex-column sub-menu">
<li class="nav-item">
<a class="nav-link"href="api/islam/tahlil?apikey=Apikey">Tahlil</a>
</li>
<li class="nav-item">
<a class="nav-link"href="api/islam/wirid?apikey=Apikey">Wirid</a>
</li>
<li class="nav-item">
<a class="nav-link"href="api/islam/ayatkursi?apikey=Apikey">Ayat Kursi</a>
</li>
<li class="nav-item">
<a class="nav-link"href="api/islam/doaharian?apikey=Apikey">Doa Harian</a>
</li>
<li class="nav-item">
<a class="nav-link"href="api/islam/bacaanshalat?apikey=Apikey">Bacaan Shalat</a>
</li>
<li class="nav-item">
<a class="nav-link"href="api/islam/niatshalat?apikey=Apikey">Niat Shalat</a>
</li>
<li class="nav-item">
<a class="nav-link"href="api/islam/kisahnabi?apikey=Apikey">Kisah Nabi</a>
</li>
<li class="nav-item">
<a class="nav-link"href="api/islam/asmaulhusna?apikey=Apikey">Asmaul Husna</a>
</li>
<li class="nav-item">
<a class="nav-link"href="api/islam/niatsubuh?apikey=Apikey">Niat Subuh</a>
</li>
<li class="nav-item">
<a class="nav-link"href="api/islam/niatzuhur?apikey=Apikey">Nist Zuhur</a>
</li>
<li class="nav-item">
<a class="nav-link"href="api/islam/niatmagrib?apikey=Apikey">Niat Magrib</a>
</li>
<li class="nav-item">
<a class="nav-link"href="api/islam/niatisya?apikey=Apikey">Niat Isya</a>
</li>
<li class="nav-item">
<a class="nav-link"href="api/islam/niatashar?apikey=Apikey">Nist Ashar</a>
</li>
</ul>
</div>
</li>
<li class="nav-item menu-items">
<a class="nav-link" data-toggle="collapse" href="#ui-game" aria-expanded="false" aria-controls="ui-anime">
<span class="menu-icon">
<i class="mdi mdi-cat"></i>
</span>
<span class="menu-title">Game API</span>
<i class="menu-arrow"></i>
</a>
<div class="collapse" id="ui-game">
<ul class="nav flex-column sub-menu">
<li class="nav-item">
<a class="nav-link" href="api/game/tebakgambar?apikey=Apikey">Tebak Gambar </a>
</li>
</ul>
</div>
</li>
<li class="nav-item menu-items">
<a class="nav-link" data-toggle="collapse" href="#ui-oth" aria-expanded="false" aria-controls="ui-fun">
<span class="menu-icon">
<i class="mdi mdi-emoticon-happy"></i>
</span>
<span class="menu-title">Other API</span>
<i class="menu-arrow"></i>
</a>
<div class="collapse" id="ui-oth">
<ul class="nav flex-column sub-menu">
<li class="nav-item">
<a class="nav-link" href="/api/other/github-stalk?username=ZeeOfc&apikey=Apikey">Github Stalk</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/api/other/hilih?kata=ZeeOfc&apikey=Apikey">Hilih</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/api/other/kodepos?kota=Sinjai&apikey=Apikey">Kodepos</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/api/other/covid-world?apikey=Apikey">Covid Global</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/api/other/kbbi?kata=jamu&apikey=Apikey">Kbbi</a>
</li>
</ul>
</div>
</li>
<li class="nav-item nav-category">
<span class="nav-link">Sosial Media</span>
</li>
<li class="nav-item menu-items">
<a class="nav-link" href="https://github.com/ZeeOfc">
<span class="menu-icon">
<i class="mdi mdi-github-circle"></i>
</span>
<span class="menu-title">GitHub</span>
</a>
</li>
<li class="nav-item menu-items">
<a class="nav-link" href="https://api.whatsapp.com/send?phone=6285655548594">
<span class="menu-icon">
<i class="mdi mdi-whatsapp"></i>
</span>
<span class="menu-title">WhatsApp</span>
</a>
</li>
<li class="nav-item menu-items">
<a class="nav-link" href="https://api.whatsapp.com/send?phone=6285655548594">
<span class="menu-icon">
<i class="mdi mdi-star"></i>
</span>
<span class="menu-title">Donasi</span>
</a>
</li>
<li class="nav-item menu-items">
<a class="nav-link" href="https://instagram.com/zeeofc_">
<span class="menu-icon">
<i class="mdi mdi-instagram"></i>
</span>
<span class="menu-title">Instagram</span>
</a>
</li>
</ul>
 </font>
</nav>
<div class="container-fluid page-body-wrapper">
<nav class="navbar p-0 fixed-top d-flex flex-row">
<div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
<a class="navbar-brand brand-logo-mini" href="#">
<big>
<i class="mdi mdi-biohazard text-primary"></i>
</big>
</a>
</div>
<div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
<button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
<span class="mdi mdi-menu"></span>
</button>
<ul class="navbar-nav w-100">
<li class="nav-item w-100">
<form class="nav-link mt-2 mt-md-0 d-none d-lg-flex ">
<input type="text" class="form-control" placeholder="Rest APIs">
</form>
</li>
</ul>
<ul class="navbar-nav navbar-nav-right">
<li class="nav-item nav-settings d-none d-lg-block">
<a class="nav-link" href="#">
<i class="mdi mdi-view-grid"></i>
</a>
</li>

<li class="nav-item dropdown border-left">
<a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
<i class="mdi mdi-bell"></i>
<span class="count bg-danger"></span>
</a>
<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
<h5 class="p-3 mb-0">Notifications</h5>
<div class="dropdown-divider"></div>

<!-- Notifikasi -->
<a class="dropdown-item preview-item">
<div class="preview-thumbnail">
<div class="preview-icon bg-dark rounded-circle">
<i class="mdi mdi-calendar text-success"></i>
</div>
</div>
<div class="preview-item-content">
<p class="preview-subject mb-1">Natsumi Kyouno (Bot)</p>
<p class="text-muted ellipsis mb-0">Updated : 05/04/2024</p>
</div>
</a>

<!-- Notifikasi -->
<a class="dropdown-item preview-item">
<div class="preview-thumbnail">
<div class="preview-icon bg-dark rounded-circle">
<i class="mdi mdi-calendar text-success"></i>
</div>
</div>
<div class="preview-item-content">
<p class="preview-subject mb-1">Natsumi Kyouno (Bot)</p>
<p class="text-muted ellipsis mb-0">Status Sistem : Online<br></p>
</div>
</a>

<li class="nav-item dropdown">
<a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
<div class="navbar-profile">
<img class="img-xs rounded-circle" src="images/1.png" alt="">
<p class="mb-0 d-none d-sm-block navbar-profile-name">ZeeOfc</p>
</div>
</a>
</li>
</ul>
<button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
<span class="mdi mdi-format-line-spacing"></span>
</button>
</div>
</nav>
<div class="main-panel">
<div class="content-wrapper">
<div class="row">
<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
<div class="card">
<div class="card-body">
<h5 class="font-weight-bold text-danger">Alamat IP</h5>
<div class="row">
<div class="col-9">
<div class="d-flex align-items-center align-self-start">
<h3 class="mb-0" id="ip">Menunggu...</h3>
</div>
</div>
<div class="col-3">
<div class="icon icon-box-success">
<span class="mdi mdi-access-point-network icon-item"></span>
</div>
</div>
</div>
<font face="Coolvetica" class="text-muted font-weight-normal">Alamat IP</font>
</div>
</div>
</div>
<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
<div class="card">
<div class="card-body">
<h5 class="font-weight-bold text-info">Baterai</h5>
<div class="row">
<div class="col-9">
<div class="d-flex align-items-center align-self-start">
<span id="batteryLevel"></span>
<h3 class="mb-0" id="percentageLevel">Menunggu...</h3>
</div>
</div>
<div class="col-3">
<div class="icon icon-box-success ">
<span class="mdi mdi-battery-positive"></span>
</div>
</div>
</div>
<font face="Coolvetica" class="text-muted font-weight-normal">Persentase Baterai</font>
</div>
</div>
</div>
<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
<div class="card">
<div class="card-body">
<h5 class="font-weight-bold text-success">Pengunjung</h5>
<div class="row">
<div class="col-9">
<div class="d-flex align-items-center align-self-start">
<h3 class="mb-0" id="visits">∞</h3>
</div>
</div>
<div class="col-3">
<div class="icon icon-box-success ">
<span class="mdi mdi-eye icon-item"></span>
</div>
</div>
</div>
<font face="Coolvetica" class="text-muted font-weight-normal">Pengunjung</font>
</div>
</div>
</div>
<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
<div class="card">
<div class="card-body">
<h5 class="font-weight-bold text-info">Tanggal</h5>
<div class="row">
<div class="col-9">
<div class="d-flex align-items-center align-self-start">
<h4 class="mb-0" id="tanggal">Menunggu...</h4>
</div>
</div>
<div class="col-3">
<div class="icon icon-box-success ">
<span class="mdi mdi-calendar icon-item"></span>
</div>
</div>
</div>
<font face="Coolvetica" class="text-muted font-weight-normal">Tanggal Sekarang</font>
</div>
</div>
</div>
<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
<div class="card">
<div class="card-body">
<h5 class="font-weight-bold text-success">Jam</h5>
<div class="row">
<div class="col-9">
<div class="d-flex align-items-center align-self-start">
<h4 class="mb-0" id="Clock">Menunggu...</h4>
</div>
</div>
<div class="col-3">
<div class="icon icon-box-success ">
<span class="mdi mdi-clock icon-item"></span>
</div>
</div>
</div>
<font face="Coolvetica" class="text-muted font-weight-normal" id="Ucapan">Ucapan</font>
</div>
</div>
</div>
<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
<div class="card">
<div class="card-body">
<h5 class="font-weight-normal text-info">My Owner's Birthday</h5>
<div class="row">
<div class="col-9">
<div class="d-flex align-items-center align-self-start">
<h5 class="mb-0" id="Birthday">Menunggu...</h5>
</div>
</div>
<div class="col-3">
<div class="icon icon-box-success ">
<span class="mdi mdi-star icon-item"></span>
</div>
</div>
</div>
<font face="Coolvetica" class="text-muted font-weight-normal">My Owner's Birthday</font>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-6 col-xl-4 grid-margin stretch-card">
<div class="card">
<div class="card-body">
<div class="mt-3 btn btn-outline-danger bg-transparent">
<div id="demo" class="alert btn btn-outline-danger" role="alert">
<span id="Statistic">Menunggu...</span>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-12 grid-margin stretch-card">
<div class="card">
<div class="card-body">
<img src="images/1.png" alt="ZeeOfc" class="logo img-fluid rounded mx-auto d-block mb-4">
<h5 class="m-0 font-weight-bold text-primary">Quotes</h5>
<h5>
<br>
“Suatu Saat Akan Datang Hari Di Mana Semua Akan Menjadi Kenangan.”
<br>
– Erza Scarlet
<br>
<br>
“Lebih Baik Menerima Kejujuran yang Pahit, Daripada Kebohongan yang Manis.”
<br>
– Soichiro Yagami
</h5>
</div>
</div>
</div>
</div>
</div>
<footer class="footer">
<div class="d-sm-flex justify-content-center justify-content-sm-between">
<div class="bg-dark btn btn-block btn-outline-danger">
<font face="Coolvetica" class="text-muted d-block text-center text-sm-left d-sm-inline-block">
Copyright © <span id="Years">00</span> ZeeOfc
</font>
</div>
</div>
</footer>
</div>
</div>
</div>
<script>
let v = document.querySelector('#aud')
setTimeout(() => {
swal({
title: "Rest APIs ZeeOfc",
text: "Welcome to ZeeOfc's Rest API",
imageUrl: 'images/3.png',
imageWidth: 222,
imageHeight: 222,
imageAlt: 'ZeeOfc',
animation: true
}).then(() => {
v.play()
}).catch(() => {
v.play()
})
}, 1000);
</script>
<script src="vendors/js/vendor.bundle.base.js"></script>
<script src="vendors/owl-carousel-2/owl.carousel.min.js"></script>
<script src="js/off-canvas.js"></script>
<script src="js/hoverable-collapse.js"></script>
<script src="js/misc.js"></script>
<script src="js/settings.js"></script>
<script src="js/todolist.js"></script>
<script src="js/dashboard.js"></script>
<script src="js/plugins.js"></script>
</html>
